# Exploratory Data Analysis of Sales Information

In this notebook, we will be exploring a dataset containing information about flower sales.

In [29]:
from classes import DataTransform, DataFrameInfo, DatabaseConnector, Plotter
import pandas as pd
import seaborn as sns #importing relevant packages and classes

We can extract the information stored within our CSV files into pandas DataFrames, letting us set datatypes, remove unnecessary columns and check for null entries.

In [6]:
item_category_key_df = pd.read_csv('item_category_key.csv')
item_category_key_df.drop(columns='Unnamed: 0', inplace=True) #dropping unnecessary column

print(DataFrameInfo(item_category_key_df).nan_count())

ID          0
Category    0
dtype: int64

In [7]:
item_sold_history_df = pd.read_csv('item_sold_history.csv')
item_sold_history_df.drop(columns='Unnamed: 0', inplace=True) #dropping unnecessary column
DataTransform(item_sold_history_df).to_date(['Date']) #setting datatype of column to datetime

print(DataFrameInfo(item_sold_history_df).nan_count())

Date         0
Unit Sold    0
Item         0
dtype: int64

We can merge the two DataFrames, item_sold_history_df and item_category_key_df, to produce a main table which contains 4 columns, the product ID, product category, date of sale and number of units sold in the transaction.

In [23]:
item_sold_history_df.rename(columns = {'Item' : 'ID'}, inplace = True) #renaming Item column to ID in order to merge tables

merged_df = item_category_key_df.merge(item_sold_history_df, on = 'ID')
merged_df.rename(columns = {'Unit Sold' : 'units_sold',
                            'Category': 'category',
                            'Date': 'date'}, inplace = True)
merged_df.head(5)

          ID category       date  units_sold
0  it1000892   Lilies 2010-01-01          30
1  it1000892   Lilies 2010-01-02          14
2  it1000892   Lilies 2010-01-03          20
3  it1000892   Lilies 2010-01-04          28
4  it1000892   Lilies 2010-01-05          37

The merged DataFrame can be uploaded to a relational database, allowing for SQL statements to be executed on the data.

In [24]:
engine = DatabaseConnector.init_db_engine('db_creds.yaml')

DatabaseConnector.upload_to_db(merged_df, 'sales_data', engine)